<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>
    <key>CFBundleIconFile</key>
    <string>latexdraw.icns</string>
    <key>CFBundleIdentifier</key>
    <string>net.sf.latexdraw.LaTeXDraw</string>
    <key>CFBundleDisplayName</key>
    <string>LaTeXDraw</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>LaTeXDraw</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.3.8</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>JVMRuntime</key>
    <string></string>
    <key>JVMMainClassName</key>
    <string>net.sf.latexdraw.LaTeXDraw</string>
    <key>JVMClassPaths</key>
    <array>
      <string>net/sf/latexdraw/latexdraw.core/3.3.8/latexdraw.core-3.3.8.jar</string>
      <string>org/scala-lang/scala-library/2.11.8/scala-library-2.11.8.jar</string>
      <string>org/scala-lang/modules/scala-parser-combinators_2.11/1.0.5/scala-parser-combinators_2.11-1.0.5.jar</string>
      <string>org/swinglabs/pdf-renderer/1.0.5/pdf-renderer-1.0.5.jar</string>
      <string>org/malai/malai.core/2.0/malai.core-2.0.jar</string>
      <string>org/malai/malai.swing/2.0/malai.swing-2.0.jar</string>
      <string>net/sf/jlibeps/jlibeps/0.1/jlibeps-0.1.jar</string>
    </array>
    <key>JVMVersion</key>
    <string>1.8+</string>
    <key>JVMOptions</key>
    <array>
            <string>-Dapple.laf.useScreenMenuBar=true</string>
      <string>-Xdock:name=LaTeXDraw</string>
    </array>
    <key>JVMArguments</key>
    <array/>
    <key>LauncherWorkingDirectory</key>
    <string>$APP_ROOT</string>
  </dict>
</plist>
